The list of variables used for the deployment of the application {{ APP }}
#              **************************************

#Application description
APPLICATION NAME: '{{ APP }}'
JAVA ORIGINAL LOCATION: '{{ java_loc_orig }}'
ENVIRONMENT DETAILS: '{{ env_full_fillment }}'
PROCESS NAME: '{{process_name}}'
APPLICATION PROGRAM PATH: '{{APP_PROGRAM_FILE}}'
SVN TRUNK URL: '{{SVN_TRUNK}}'

#Application file and directory description
HOME: '{{ HOME }}'
APPLICATION HOME: '{{ APP_HOME }}'
DIST DIRECTORY: '{{ DIST_DIR }}'
DEPLOYMENT DIRECTORY: '{{ DEPLOY_DIR }}'
LOG DIRECTORY: '{{ LOG_DIR }}'
BUILD CONFIRMATION FILE: '{{ BUILD_CONFIRMATION_FILE }}'
APPLICATION LOG FILE: '{{ APP_LOG_FILE }}'
#Application Program File: '{{ APP_PROGRAM_FILE }}'

#User details
APP OWNER: '{{ APP_OWNER }}'
APP GROUP: '{{ APP_GROUP }}'

#Build description
BUILD NO.: '{{ BUILD }}'
BUILD NAME: '{{ BUILD_NAME }}'
BUILD FILE: '{{ BUILD_FILE }}'
BUILD: '{{ build }}''

#SVN description
SVN EXPORT DIRECTORY: '{{ SVN_EXPORT_DIR }}'
SVN TRUNK URL: '{{ SVN_TRUNK }}'
SVN SOURCE FILE: '{{ SVN_SOURCE }}'

#Temp directory and file description
TEMP DEPLOY DIR: '{{ TEMP_DEPLOY_DIR }}'
TEMP DEPLOY CONFIRMATION FILE: '{{ TEMP_DEPLOY_CONFIRMATION_FILE }}'
LOG FILE Ansible: '{{ log_file_ansible }}'

#Start and Stop job description
START JOB:
STOP JOB:
AUTO SERVER: '{{ AUTOSERV }}''
AUTOSYS:
AUTO SYS FILE:
AUTOUSER:

#Extra vars description
MAIL PORT: '{{mail_port}}'
JAVA LOCATION: '{{ java_loc }}'

#Extra vars description
VARIABLE FILE LIST: '{{ var_file_name }}'